
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
{% set datePost = mat.fields.created.content|date('d-m-Y') %}
{% set today = "now"|date('d-m-Y') %}

  <li class="one-third animate-box entry" data-animate-effect="fadeIn">
    <a href="{{ fields.view_node.content }}">
      <div class="entry-img" style="background-image: url('{{ fields.field_images.content }}')"></div>
      <div class="entry-desc">
        <h3>{{ fields.title.content }}</h3>
        {{ fields.body.content }}
      </div>
    </a>
    <a href="{{ fields.view_node.content }}" class="post-meta">{{ fields.field_category.content }}  <span class="date-posted">
    {{ fields.created.content }}</span></a>
  </li>