
  <div id="gtco-maine">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-12">
            {{ content.body[0] }}
        </div>
      </div>
        {{ related_post }}
    </div>
  </div>
