
  <div class="gtco-loader"></div>
  <div id="page">
  {{ page.tabs }}
  <!-- menu -->
  <div id="gtco-offcanvas"></div>
  <a href="#" class="js-gtco-nav-toggle gtco-nav-toggle gtco-nav-white"><i></i></a>
  <nav class="gtco-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 text-left">
          {{ page.site_branding }}
        </div>
        <div class="col-xs-10 text-right menu-1">
          {{ page.primary_menu }}
        </div>
      </div>
      
    </div>
  </nav>

  <!-- header -->
  {% set banner = page.banner|render|striptags|trim is not empty %}
  {% if banner %}
    {{ page.banner }}
    {% else %}
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url('{{ bg_image_url }}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <span class="date-post">{{ site_name }}</span>
              <h1 class="mb30"><a href="#">{{ page['#title'] }}</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endif %}
  <!-- header end -->

  {{ page.content }}


  <!-- Footer  -->
  <footer id="gtco-footer" role="contentinfo">
    <div class="container">
      {{ page.most_popular }}
      <!-- copyright -->
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2018 <a href="#">YG Verb</a>. All Rights Reserved.
            </small><small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small>
          </p>
          <p>
            <ul class="gtco-social-icons">
              {% if twitter_url|render is not empty %}
                <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if facebook_url|render is not empty %}
                <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
              {% endif %}
              {% if linkedin_url|render is not empty %}
                <li><a href="{{ linkedin_url }}"><i class="icon-linkedin"></i></a></li>
              {% endif %}
              {% if dribbble_url|render is not empty %}
                <li><a href="{{ dribbble_url }}"><i class="icon-dribbble"></i></a></li>
              {% endif %}
            </ul>
          </p>
        </div>
      </div>
      <!-- copyright end -->
    </div>
  </footer>
</div>


  <!-- goto-top -->
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
